/*

!/.cursor
!/.devcontainer
!/.github
!/board_partitions
!/include
!/lib
!/src
!/test

!/docs
!/CONTRIBUTING.md
!/.gitignore
!/.editorconfig
!/.releaserc.yml
!/.markdownlintignore
!/.release-please-config.json
!/.remarkignore
!/AGENTS.md
!/app
!/platformio.ini
!/CHANGELOG.md
!/CODEOWNERS
!/README.md
!/LICENSE.md
!/SECURITY.md
!/STATES.md
!/version.txt

!/installer
/installer/node_modules
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

!/frontend
