# default code owner are team leads
*                                         @ttnleipzig/core @ttnleipzig/regenfass


# Installer
/installer                                @ttnleipzig/regenfass-installer

# Sketch
/firmware                                 @ttnleipzig/regenfass-sketch

# github actions
/.github                                  @ttnleipzig/regenfass-ci
