@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	/* Colors */
	--primary-bg-color: #fafafa;
	--primary-footer-bg-color: #212121;
	--card-background-color: #fafafa;
	--alert-standard-color: #666666;
	--alert-standard-color-bg: #e6e6e6;
	--alert-info-color: #00539f;
	--alert-info-color-bg: #e6eef5;
	--alert-success-color: #4caf50;
	--alert-success-color-bg: #edf7ee;
	--alert-warning-color: #ff9800;
	--alert-warning-color-bg: #fff5e6;
	--alert-error-color: #d93025;
	--alert-error-color-bg: #faefeb;
	--mdc-theme-primary: #03a9f4;
	--primary-text-color: #212121;
	--mdc-dialog-z-index: 998;
	--mdc-theme-primary-no-attention: #444444;
	--mdc-theme-on-primary-no-attention: white;
	--esphome-background-header: #e0e0e0;
	--mdc-theme-on-primary: white;
	--mdc-dialog-heading-ink-color: #212121;
	--mdc-dialog-content-ink-color: #212121;
	--update-available-color: #2e3dd4;
	--status-connected: #444444;
	--status-new: #ffa500;
	--status-imported: #4caf50;

	--esp-tools-button-text-color: #118899 !important;
	--esp-tools-button-border-radius: 0px !important;
}

/* dark theme */
@media (prefers-color-scheme: dark) {
	:root {
		--primary-bg-color: #000000;
		--primary-text-color: #e1e1e1;
		--primary-footer-bg-color: #101e24;
		--esphome-background-header: #282828;
		--card-background-color: #282828;
		--card-text-color: #e1e1e1;
		--primary-text-color: #e1e1e1;
		--mdc-theme-surface: #282828;
		--mdc-theme-on-surface: #e1e1e1;
		--mdc-theme-text-primary-on-background: #e1e1e1;
		--mdc-dialog-heading-ink-color: #e1e1e1;
		--mdc-theme-primary-no-attention: #cecece;
		--mdc-theme-on-primary-no-attention: #222222;
		--mdc-dialog-content-ink-color: #e1e1e1;
		--mdc-text-field-ink-color: #e1e1e1;
		--mdc-text-field-label-ink-color: #e1e1e1;
		--mdc-ripple-color: #282828;
		--mdc-text-field-fill-color: #3d3d3d;
		--mdc-theme-text-secondary-on-background: #e1e1e1;
		--update-available-color: #5f7eeb;
		--status-connected: #cecece;
		--mdc-ripple-color: #bebebe;
	}

	.esphome-header img {
		filter: invert(1);
	}
}

/* CSS CODE */
.ripple {
	position: relative;
	overflow: hidden;
	transform: translate3d(0, 0, 0);
}
.ripple:after {
	content: "";
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	pointer-events: none;
	background-image: radial-gradient(circle, #000 10%, transparent 10.01%);
	background-repeat: no-repeat;
	background-position: 50%;
	transform: scale(10, 10);
	opacity: 0;
	transition: transform 0.5s, opacity 1s;
}
.ripple:active:after {
	transform: scale(0, 0);
	opacity: 0.2;
	transition: 0s;
}
